/* Add application styles & imports to this file! */

/* Styles globaux de l'application */
body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
